body {
  background-color: #e2ccc6;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: inline-block;
  padding: 5px;
}

.jumbotron {
  background-color: #e2ccc6;
}

.header {
  border-radius: 10px;
  background-color: #e2ccc6;
}

.navbar {
  display: flex;
  background-color: #e2ccc6;
  border-radius: 5px;
}

.nav-link {
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  list-style: none;
}

main {
  background-color: #e2ccc6;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  display: inline-block;
  border-radius: 10px;
  background-color: #e2ccc6;
  padding: 5px;
}

h3 {
  font-weight: bold;
}

h4 {
  text-align: center;
}

.card {
  border-width: 1px;
  border-radius: 10px;
  background-color: #e2ccc6;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 558px;
  height: 20em;
}

.list {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.contact {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
  text-align: center;
}

.outdoor {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background: url(../images/outdoorimage.jpeg);
  background-size: cover;
  background-position: center;
}

ul {
  background-color: #e2ccc6;
  border-radius: 10px;
  text-emphasis: bold;
}

html {
  scroll-behavior: smooth;
}

aside {
  float: right;
}

img {
  border-radius: 5px;
}

.card-body {
  font-size: 12px;
  border-width: 1px;
  border-radius: 10px;
  background-color: #e2ccc6;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.work-card {
  border-width: 1px;
  border-radius: 10px;
  background-color: #e2ccc6;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 558px;
  height: 700px;
  padding: 10px;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  main,
  nav,
  .card {
    flex-wrap: wrap;
    align-items: baseline;
  }
  .row {
    flex-wrap: wrap;
    align-items: baseline;
  }
}
