body {
  color: #077b88;
  background-color: #e2ccc6;
  font-family: "Raleway", sans-serif;
}

h1 {
  display: inline-block;
  padding: 5px;
}

.jumbotron {
  background-color: #e2ccc6;
}

.header {
  border-radius: 10px;
  background-color: #e2ccc6;
}

.navbar {
  display: flex;
  background-color: #e2ccc6;
  border-radius: 5px;
}

.nav-link {
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  list-style: none;
}

main {
  background-color: #e2ccc6;
}

h2 {
  display: inline-block;
  border-radius: 10px;
  background-color: #e2ccc6;
  padding: 5px;
}

h3 {
  font-weight: bold;
}

h4 {
  text-align: center;
}

.list {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.contact {
  font-size: 22px;
  text-align: center;
}

.card {
  background-color: #e2ccc6;
  font-size: 12px;
  border-width: 1px;
  border-radius: 10px;
}

ul {
  background-color: #e2ccc6;
  border-radius: 10px;
  text-emphasis: bold;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  main,
  nav,
  .card {
    word-wrap: break-word;
  }
}
